<div class="grid grid-cols-2">
    <div class="columns-1 bg-orange-100 p-2 min-h-full">
        <h2 class="font-bold text-lg">
            <i class="bi bi-bookmark-star">aquí</i>
            HEROES</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes" class="p-2">
                <button type="button"
                
                (click)="onSelectHero(hero)" 
                class="bg-blue-950 text-white rounded
                px-2 py-3 
                hover:translate-x-1 hover:text-green-400
                active:translate-y-1 active:text-blue-500 active:bg-slate-300
                " 
                [class.selected]="hero==selectedHero"
                [class.dark]="hero==selectedHero"
                >
                    <i class="bi bi-balloon"></i>
                    <span class="badge"> {{hero.id}} ]</span>
                    <span class="name"> {{hero.name}} </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="columns-1 bg-gray-500 p-2">
        <!-- Hijo Details  -->
        <app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>
    </div>

</div>

